
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1493709921029'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1493709921029#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1493709921029') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1493709921029') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1493709921029#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-94:before { content: "\e67e"; }

.icon-cart:before { content: "\e698"; }

.icon-less:before { content: "\e6a5"; }

.icon-search:before { content: "\e6ac"; }

.icon-set:before { content: "\e6ae"; }

.icon-smile:before { content: "\e6af"; }

.icon-viewgallery:before { content: "\e6b4"; }

.icon-viewlist:before { content: "\e6b5"; }

.icon-warning:before { content: "\e6b6"; }

.icon-camera:before { content: "\e602"; }

.icon-ditu:before { content: "\e608"; }

.icon-shouji:before { content: "\e611"; }

.icon-more:before { content: "\e60e"; }

.icon-weibiaoti6:before { content: "\e601"; }

.icon-erweima01:before { content: "\e653"; }

.icon-wangyi:before { content: "\e67f"; }

.icon-dianyingpiao:before { content: "\e60d"; }

.icon-anquan:before { content: "\e609"; }

.icon-1:before { content: "\e65c"; }

.icon-shouyewuliu:before { content: "\e657"; }

.icon-hot:before { content: "\e756"; }

.icon-xinhao:before { content: "\e614"; }

.icon-onepage48:before { content: "\e75a"; }

.icon-jipiao:before { content: "\e60c"; }

.icon-weibo:before { content: "\e8fd"; }

.icon-wifiwf:before { content: "\e64a"; }

.icon-weixin:before { content: "\e6c7"; }

.icon-component-filling:before { content: "\e75e"; }

.icon-color-filling:before { content: "\e7cd"; }

.icon-RFQ-filling:before { content: "\e803"; }

.icon-originalimage:before { content: "\e806"; }

.icon-logistic:before { content: "\e811"; }

.icon-zuoyoujian:before { content: "\e606"; }

.icon-zuoyouqiehuan:before { content: "\e63a"; }

.icon-video:before { content: "\e820"; }

.icon-zuoyouqiehuan1:before { content: "\e503"; }

.icon-huafei:before { content: "\e631"; }

